In [ ]:
#01. Find the data type of a if a=9

a = 9
print(type(a))

<class 'int'>

In [ ]:
#02. Find the data type of a if a=9

a = 9
print(type(a))

<class 'int'>

In [ ]:
#03.Find the data type of a if a='9.'

a = "9."
print(type(a))

<class 'str'>

In [ ]:
#04. Find the data type of a if a=(9)

a = (9)
print(type(a))

<class 'int'>

In [ ]:
#05. Find the data type of a if a=False
 
a = False
print(type(a))

<class 'bool'>

In [ ]:
#06. Find the data type of a if a=[1,2,3]

a = [1,2,3]
print(type(a))

<class 'list'>

In [ ]:
#07. Find the data type of a if a=(1,2,3)

a = (1,2,3)
print(type(a))

<class 'tuple'>

In [ ]:
#08.Find the data type of a if a={'key': 9}

a = {'key' : 9}
print(type(a))

<class 'dict'>

In [ ]:
#09.Find the data type of a if a=1 + 9j

a = 1 + 9j
print(type(a))

<class 'complex'>

In [ ]:
#10. Set a=1 and b=2. What data type is a/b?

a,b = {1,2}
print(type(a/b))

<class 'float'>

In [ ]:
#11. Create a dictionary numbers = {'one':1, 'two':2, 'three':3}. Pull out the number '2' by calling the key 'two'


dic = {'one':1,'two':2,'three':3}
print(dic['two'])

2

In [ ]:
#12. Create a tuple with the numbers 8, 9, and 10?

tup = (8, 9, 10)
print(type(tup))

<class 'tuple'>

In [31]:
'''13. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
d = {one:1, two:2, three:3} d[one] ?


d = {one:1, two:2, three:3} d[one] '''
'''error : The error will be one is not defined.Here we are assuming that one is string so one should be in quotes("") '''


d={'one':1, 'two':2, 'three':3}
print(d['one'])

1

In [32]:
'''14. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
f = false not f ?'''


''' error :  The error will be false is not defined. Inorder to consider it as a boolean value we need to use False (not as false)
'False' and 'True' belongs to boolean class'''

f = False
print(not f)

True

In [33]:
'''15. Run the following lines of code and explain the error in your own words. Then rewrite the lines of code to run error free:
lst = [1,3,5] lst[3]'''



#error : There are 3 elements in the list.So the index values will be 0,1,2.Here there is no 3rd index  place in given list 

lst = [1,3,5]
print(lst[2])

5